<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DefaultCompletionName</key>
	<string>DemoModule</string>
	<key>Description</key>
	<string>This generates a new View Module</string>
	<key>Kind</key>
	<string>Xcode.IDEKit.TextSubstitutionFileTemplateKind</string>

	<key>Options</key>
	<array>

		<dict>
			<key>Description</key>
			<string>The name for view model</string>
			<key>Identifier</key>
			<string>moduleName</string>
			<key>Name</key>
			<string>Name</string>
			<key>NotPersisted</key>
			<true/>
			<key>Required</key>
			<true/>
			<key>Type</key>
			<string>text</string>
		</dict>

		<dict>
			<key>Default</key>
			<string>___VARIABLE_moduleName:identifier___</string>
			<key>Identifier</key>
			<string>productName</string>
			<key>Type</key>
			<string>static</string>
		</dict>
<!--
		<dict>
			<key>Default</key>
			<string>___VARIABLE_moduleName:identifier___ViewModel.swift</string>
			<key>Description</key>
			<string>ViewModel</string>
			<key>Identifier</key>
			<string>viewModelFileName</string>
			<key>Name</key>
			<string>ViewModel:</string>
			<key>Required</key>
			<true/>
			<key>Type</key>
			<string>static</string>
			<key>SortOrder</key>
			<string>0</string>
    </dict>

		<dict>
			<key>Default</key>
			<string>___VARIABLE_moduleName:identifier___UIView.swift</string>
			<key>Description</key>
			<string>UIView</string>
			<key>Identifier</key>
			<string>uiViewFileName</string>
			<key>Name</key>
			<string>UIView:</string>
			<key>Required</key>
			<true/>
			<key>Type</key>
			<string>static</string>
			<key>SortOrder</key>
			<string>1</string>
    </dict>

		<dict>
			<key>Default</key>
			<string>___VARIABLE_moduleName:identifier___UIView.xib</string>
			<key>Description</key>
			<string>UIView</string>
			<key>Identifier</key>
			<string>uiViewFileName</string>
			<key>Name</key>
			<string>UIView XIB:</string>
			<key>Required</key>
			<true/>
			<key>Type</key>
			<string>static</string>
			<key>SortOrder</key>
			<string>2</string>
    </dict> -->

	</array>
	<key>Platforms</key>
	<array>
		<string>com.apple.platform.iphoneos</string>
	</array>
	<key>SortOrder</key>
	<string>0</string>
	<key>Summary</key>
	<string>This generates a new View Module</string>
</dict>
</plist>
